.temperatures-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding:0 0.5rem 0.5rem 0.5rem;
    background-color: rgb(255, 171, 76);
    margin-bottom: 0.5rem;
}

.temperatures-title {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

.temperatures-variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}