.timer-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding:0 0.5rem 0.5rem 0.5rem;
    background-color: rgb(255, 192, 192);
    margin-bottom: 0.5rem;
}

.timer-display {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    width: 14rem;
}

.timer-title {
    color: darkblue;
    font-weight: bold;
}

.timer-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}