.cal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(160, 159, 159);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px rgb(102, 102, 102);
  width: 310px;
}

.cal-display {
  font-size: 30px;
  width: 280px;
  height: 50px;
  text-align: right;
  margin-bottom: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.cal-table {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: auto;
  border-collapse: separate;
  border-spacing: 10px;
  border-radius: 5px;
  table-layout: fixed;
}

.num-color,
.cal-color {
  text-align: center;
  padding: 17px;
  border: 1px solid #ffffff;
  cursor: pointer;
  background-color: rgb(117, 193, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: grey 2px solid;
  box-shadow: 3px 3px rgb(102, 102, 102);
}

.cal-color {
  background-color: rgb(48, 214, 131);
}

.num-color:hover,
.cal-color:hover {
  transition: 0.15s;
  background-color: #fbff00;
  box-shadow: inset 1px 1px rgb(102, 102, 102);
}
